body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  overflow-x: hidden;
}

.app {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  padding-left: 200px; /* Width of the sidebar */
  box-sizing: border-box;
  overflow-y: auto; /* Allow vertical scrolling if content exceeds viewport */
}

.qotd-banner {
  background-color: #db7909;
  color: white;
  padding: 0.5rem;
  text-align: center;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 5px;
}

.qotd-banner p {
  margin: 0;
  font-weight: bold;
}

.qotd-banner .qotd {
  font-weight: normal;
}

.page-content {
  width: 400px; /* Match the width of the chat container */
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .app {
    flex-direction: column;
    height: 100%;
  }

  .main-content {
    padding-left: 0;
    height: calc(100% - 50px); /* Adjust based on your navigation bar height */
    overflow-y: auto;
  }

  .qotd-banner,
  .page-content {
    width: 100%;
  }

  .page-content {
    flex: 1;
    overflow-y: auto;
  }
}